.todo-container {
    border: 2px solid black;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image : linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: 'Kaisei HarunoUmi', serif;
}
header{
    font-size: 17px;
}
header,form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
PROBLEM 1 

why doesn't this transition property not working ?
todo_div belongs to a div we created which contains <li> <delte button and complete button

i toggled classes on line 59 in app.js and it's supposed to happen in transition fo 2s
but no! it's not working!
*/
.todo_div{
    color: black;
    font-size: 15px;
    background-color: pink;
    
    border: 2px solid green;
}
.list_content {
    list-style: none;;
}
.li_element {
    flex: 1;
}
.fa-check-square, .fa-trash-alt{
    pointer-events: none;
}
.completed_deco {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 17px;
    color:red;
}
.falling{
    color: blue;
    transition: translateY(40px) rotateZ(60deg);
    transition-duration: 3s;
}
